@font-face {
    font-family: department;
    src: url('fonts/department.ttf')
}

#grid {
    width: 90%;
    margin: 0 auto;
    padding: 25px 15px;
    display: grid;
    grid-template-columns: 20% 2px auto;
    grid-template-rows: 10px auto 10px 30px 200px;
    grid-gap: 1%;
    justify-items: center;
    align-items: center;
    border: 2px solid #F4A460;
    border-radius: 30px;
    background: rgba(176, 224, 230, .3)
}



.arrow {
    color: #8B4513;
    font-size: 40px;
    font-family: department, sans-serif;
    border: none;
    background: none;
    outline: none;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
    outline: none;
}
button:active {
    transform: scale(1);
}

#arrow_up {
    grid-column: 1; grid-row: 1; transform: rotate(90deg);
}

#arrow_down {
    grid-column: 1; grid-row: 3; transform: rotate(90deg);
}

#imgSmall {
    grid-column: 1; grid-row: 2; position: relative; overflow-y: hidden; height: 32rem; width: 100%; text-align: center;
}

#imgSmall img:hover {
    transform: scale(1.05);
    transition: transform 1s ease;
}

#line {
    grid-column: 2; grid-row: 2/3; background-color: #F4A460; height: 100%; width: 2px;
}

#imgBig {
    display: inline-flex; justify-items: center;  height:100%; width: 98%; margin: 0 auto; grid-row: 2/3; overflow: hidden;
}

#pagin {
    grid-column: 3; grid-row: 4; 
}

#pag_list {
    list-style-type: none;display: flex; align-items: center; padding: 0;
}

#pag_list button {
    background: #F4A460;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    border: none;
    outline: none;
    display: inline-block;
    margin: 0 10px;
}

#pag_list button:hover {
    background: #8B4513;
    box-shadow: 2px 2px 2px #000;
}

#pag_list button:focus {
    background: #8B4513;
}

#countBasketPrice {
    width: inherit;
    grid-column: 1/4;
    grid-row: 5;
    height: 100px;
    display: grid;
    grid-template-columns: 100px 90%;
    grid-gap: 2%
    
}

#sum {
    border: 2px solid  #F4A460;
    border-radius: 20px;
}

#busket {
    border: 2px solid  #F4A460;
    border-radius: 20px;
}
